@use "Variables" as v;
@use "Mixins" as mx;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: v.$full-height;
  position: relative;

  @include mx.center;

  &__info {
    max-width: fit-content;
    padding: 20px;
    position: relative;
    color: rgb(223, 223, 223);

    &__title {
      font-family: sans-serif;
      font-size: 4rem;
      font-weight: 800;
    }
    &__line {
      height: 5px;
      border: none;
      border-radius: 20px;
      background: linear-gradient(rgb(251, 255, 0), rgb(143, 146, 0));
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../public/shot-astonished-bearded-redhead-man-posing-beach.jpg);
    background-size: cover;
  }
}

.dog {
  width: 350px;
  height: 400px;
}

#cocktails {
  height: 100vh;
  background: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#cocktailBtn {
  width: 40px;
  height: 20px;
}

#drinks {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  text-align: center;
  gap: 5px 20px;
}

#drinkBox {
}

#drinkimage {
  width: 50px;
  height: 50px;
}

// Hamburgermeny
.hum {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 9rem;
  height: 9rem;
  background-color: rgb(123, 134, 62);
  position: fixed;
  left: 10%;
  top: 15%;
  transition: transform 0.3s ease;
  z-index: 10;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  &__line {
    margin: 0%;
    padding: 0%;
    width: 3rem;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 18rem;
  height: 30rem;
  background-color: rgb(123, 134, 62);
  position: fixed;
  left: 10%;
  top: 15%;
  z-index: 9;
  transition: transform 0.3s ease;
  animation-name: dropDown;
  animation-duration: 1s;
  &__link {
    text-decoration: none;
    transition: transform 0.3s ease;
    font-weight: bold;
    margin-left: 2rem;
    color: white;
    font-size: 1.5rem;
  }
}
@keyframes dropDown {
  0% {
    width: 0rem;
    height: 0rem;
  }
  100% {
    width: 18rem;
    height: 30rem;
  }
}
.removeGap {
  display: flex;
  gap: 0rem;
}
.hum:hover {
  transform: scale(0.9);
}
.scroll {
  display: none;
  animation-name: up;
  animation-duration: 1s;
}

.cross1 {
  transform: rotate(45deg);
}

.cross3 {
  transform: rotate(-45deg);
}

.cross2 {
  display: none;
}
