* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cocktails {
  height: 100vh;
  background: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 20px;
}

.cocktailsHeader {
  font-size: 3rem;
  padding-top: 50px;
}

#cocktailBtn {
  width: 40px;
  height: 20px;
}

#drinks {
  width: 300px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;
  gap: 5px 20px;
}

#drinkBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 150px;
}

#drinkimage {
  width: 150px;
  border: 3px solid black;
  border-radius: 5px;
}
